@model IEnumerable<WebExcelMVC.Models.PersonModel>
@using X.PagedList;
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a class="btn btn-success" asp-action="Download">Download</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PersonId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.PersonId">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>

@using (Html.BeginForm("Index", "Person", FormMethod.Get, new { id = "form1" }))
{
    <div class="row">
        <div class="col-md-11">
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new
                {
                    page = page,
                    pageSize =
                     ViewBag.psize
                }),
                     new X.PagedList.Mvc.Core.PagedListRenderOptions
        {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" }
        })
        </div>
        <div class="col-md-1">
            @Html.DropDownList("pageSize", null, new { @class = "form-select" })
        </div>
    </div>
}
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function){
        $("#pageSize").change(function () {
            $("#form1").submit();
        });
    });
</script>